a{text-decoration: none; color: inherit;}
ul{padding-left: 1.2rem; margin: 0em; list-style-type: circle;}
.sectionhead{ font-weight: 900; margin: 0; color: rgb(0, 0, 0);text-transform: uppercase;}
.em{font-style: italic;}
strong{font-weight: 2000;}
.mdmfnt{font-weight: bold; color: rgb(105, 105, 105);}
body{ margin: 0; background-color: rgb(105, 105, 105);}
/* .section{border-top:thin solid rgb(214, 214, 214);margin-top:0;} */
.tenure{
    /* left: 82%; position: absolute; */
    font-weight: bold; color: rgb(0, 0, 0);}
.accordion__label .tenure{
    font-weight: bold; color: rgb(0, 0, 0);
}
    
.resumecell{position: relative; padding-bottom: .2em;}
.indentsmall{ padding-left: .5em;}
.nav-tabs{
    /* justify-content: center; */
    /* margin-bottom: 0 ; */
    padding: 0;
    /* color: rgb(105, 105, 105); */
} 

.nav-item {
    min-width: 6.5cm;
    padding: 0;
    display: inline-block;
    /* margin-right: 3em; */
    /* font-size: 93%; */
    }
i{margin-right: .1em; }
li{margin-bottom: .1em; }
.resume {font-size: 90%; margin-top: 1mm;display: inline-block; width: 22cm; text-align: left; font-family: "Roboto", sans-serif;}
.content-center{text-align: center;}
.grid-container{
    /* display: grid; grid-template-columns: 4fr 1fr; */
    position: relative;
}
.grid-left-elem{ display: inline-block; width: 77%; padding-right: 1.5em;}
.grid-right-elem{ display: inline-block; width: 23%; height: inherit; position: absolute; top:0%; padding-top: inherit;}


.indsmalltop{
    padding:8px 25px 2px 25px;
}

.indsmallbottom{
    padding:2px 25px 8px 25px;
}

.indsmallsingle{
    padding:8px 25px 8px 25px;
}

.indsmall{
    padding:2px 25px 2px 25px;
}

.highlight3 :hover .highlight1:not(:hover){
    background-color:#eee;
    /* filter: blur(.5px);
  -webkit-filter: blur(.5px); */
}

/* 
.highlight1:hover{
    background-color:#eee;
    filter: blur(1px);
  -webkit-filter: blur(1px);
} */



.highlight2:hover a{
text-decoration: underline;

}

.main_body{
    margin-left: .6cm;
}

.side_bar{
    background-color: rgb(60, 60, 60);
    position: fixed;
    width: .6cm;
    height: 100%;
    float: left;
    writing-mode:vertical-lr;
}

.side_elem{
    text-transform: uppercase;
    color: rgb(196, 196, 196);
    padding-top: .5cm;
    display: inline;
}